
aside {
    background: #1a1c2b;
}

aside h3 {
    text-align: center;
    font-weight: 700;
    color:#fff;
    padding: 10px 0;
}

aside p {
    text-align: center;
    color:#fff;
    margin-bottom: 0;
}

aside .subcribe {
    text-align: center;
    padding: 20px 0;
}

aside .signUp {
    font-family: $primaryFont;
    font-size: $fontSizeOne;
    font-weight: $fontWeight700;
    background: #6E6E6E;
    color: #0fbc00;
    text-align: center;
}

/*----MEDIA QUERIES ---*/

 @include medium {
    aside h3 {
        font-weight: normal;
    }
  }

 @include small {
     aside h3 {
         font-size: 20px;  
    }

    aside .signUp {
        font-size: 16px;
        font-weight: normal;
    }  
  }
